<div class="jumbotron">
  <h1>Error 404</h1>
  <p>Oh, man !</p>
  <p>The page you are looking for doesn't exist.</p>
  <p><%= user.name %>, there is the way out ! Follow me ...</p>
  <p><a class="btn btn-primary btn-lg" href="/" role="button">Click here! <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></p>
</div>