<style>
.footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px; 
    margin-top: .4em;
    margin-right: .2em;
    margin-bottom: .4em;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.site-footer .bold  { font: bold 1.2em sans-serif;}
.site-footer .white { color: #ffffff; }
.site-footer .grey  { color: #999; }
.footer-center div > * { vertical-align: middle; display: inline-block;}
</style>
<footer class="row site-footer" style="background-color: #292c2f; box-sizing: border-box; padding: 4em 4em;">
	<div class="col-md-5">
		<h3>Company<span>logo</span></h3>
		<p class="bold white">
			<a href="#">Home</a> - 
			<a href="#">Blog</a> - 
			<a href="#">About</a> - 
			<a href="#">Contact</a>
		</p>
		<p class="grey">Hugo Lopez © 2015</p>
	</div>
	<div class="col-md-3 footer-center white">
		<div><p style=""><i class="fa fa-map-marker"></i></p><p style="">17 Rue Jean Decas<br /><strong class="bold">Bordeaux, France</strong></p></div>
		<div><i class="fa fa-phone"></i><p>+{0033} <strong class="bold">(0)6.76.13.02.53</strong></p></div>
		<div><i class="fa fa-envelope"></i><a href="mailto:hugo.lpz+website@gmail.com"><p><strong class="bold">Send an email!</strong></a></p></div>
	</div>
	<div class="col-md-3">
		<div class="">
			<p class="white bold">About the team</p>
			<p class="grey">Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.</p>
		</div>
		<div class="footer-icons" style="color: #ffffff;">
			<a href="#http://twitter.com/hugo_lz"><i class="fa fa-twitter"></i></a>
			<a href="https://fr.linkedin.com/pub/lopez-hugo/22/20/a94"><i class="fa fa-linkedin"></i></a>
			<a href="http://github.com/hugolpz"><i class="fa fa-github"></i></a>
		</div>
	</div>
</footer>