<html>
    <% include meta %>
 <body>
    <div id="header">
         <% include header %>
    </div>
    <div class="row">
        <div id="bodyLeft" class="col-md-3">
        </div>
        <div id="bodyRight" class="col-md-6">
            <% include _404 %>
        </div>
        <div id="bodyRight" class="col-md-3">
        </div>
    </div>
    <div id="footer">
        <% include footer %>
    </div>
 </body>
</html>
