<head>
  <meta charset="utf-8">
  <title><%= pageTitle %></title>
  <script src="/js/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/footer.css">
  <script src="/js/bootstrap.min.js"></script>
</head>
